@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

main {
  font-family: "Orbitron", sans-serif;
}

input[type="range"] {
  appearance: none;
  /* creating a custom design */
  height: 20px;
  width: 100%;
  cursor: pointer;
  outline: none;
  background-color: #2e3349;
  /* border-radius: 10px; */
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  height: 40px;
  width: 15px;
  background-color: #09fa91;
}
